[Unit]
Description=Blender Navcap Service

[Service]
ExecStart=/usr/bin/blender_navcap
Environment="BLENDER_NAVCAP_MOUSE=Logitech Gaming Mouse G502"
Environment="BLENDER_NAVCAP_KEYBOARD=USB Keyboard"

[Install]
WantedBy=multi-user.target