[Unit]
Description=Blender Navcap Service

[Service]
ExecStart=/usr/bin/blender_navcap
Environment="BLENDER_NAVCAP_MOUSE=/dev/input/event3"
Environment="BLENDER_NAVCAP_KEYBOARD=/dev/input/event5"

[Install]
WantedBy=multi-user.target